/*******************************************************************************
* TABLE OF CONTENTS
* 1.0 - Body
*******************************************************************************/

/* 1.0 - Body
*******************************************************************************/
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $dark-grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* END 1.0 - Body
*******************************************************************************/