/*******************************************************************************
* TABLE OF CONTENTS
* 1.0 - Font
* 2.0 - Colors
*******************************************************************************/

/* 1.0 - Font
*******************************************************************************/
$base-font-family: "Open sans", sans-serif;
$base-font-size: 1.6rem;

/* END 1.0 - Font
*******************************************************************************/

/* 2.0 - Colors
*******************************************************************************/
$primary-dark: #2A6175;
$primary-light: #3FD0AA;
$dark-grey: #2D3331;
$light-grey: #C9C8C9;
$off-white: #F1ECFF;
/* END 2.0 - Colors
*******************************************************************************/

$margin-sm: 3rem;